body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
}

.image {
  width: 200px;
  height: 200px;
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.5);
}

.single-photo {
  display: block;
  width: auto;
  height: auto;
  max-width: 1700px;
  max-height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.singleDiv {
  margin-left: 50%;
  margin: auto;
}

.singleDiv#outer {
  overflow: hidden;
}

button {
  margin-top: 30px;
  margin-right: 200px;
}
